@font-face {
  font-family: "SomethingStrange";
  src: url("SomethingStrange.ttf")
}

html {
  font: 50px SomethingStrange;
  background-image: url("images/bg.jpg");
  background-repeat: round;
}


h1 {
  background-color: red;
}

a:-webkit-any-link {
  color: initial;
  text-decoration: none;
}

.body_text {
  font-family: Helvetica;
  font-size: 14px;
}

.container {
  max-width: 60%;
  margin: auto;
  position: relative;
}

ul {
  list-style-type: none;
  -webkit-margin-before: 0em;
  -webkit-padding-start: 0em;
}

img {
  width: 600px;
  height: 600px;
}
