<!doctype html>
<title>SACRED THICK 20XX</title>
<link rel="stylesheet" href="/static/scary.css?q=1280549780"
   type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="/static/scary.css" />
<h1 align=middle> The Sacred Collective </h1>
<a href="./artist/sacredhumanbeings" class="button">
  <h2 align=left>Sacred Human Beings</h2>
</a>
<a href="./artist/thickbrick" class="button">
  <h2 align=right>Thick Brick</h2>
</a>
<a href="./artist/bennetsplaygroup" class="button">
  <h2 align=middle>Bennet\'s Playgroup</h2>
</a>
